.searchOuter{
	background-color: $medium-blue;
	text-align: center;	
	@include height-width(100vh,100%);
	@include pos(f, 0 null null 0);
	z-index: 99;
	@include translateX(100%);
	-webkit-transition: all linear 0.9s;
    transition: all linear 0.9s;
    -moz-transition: all linear 0.9s;
	&.open{
		@include translateX(0%);
	}
	.container{
		display: table;
		height:100vh;
		max-width: 1170px;
		.searchBox{
			width: 100%;
			display: table-cell;
			vertical-align: middle;	
		}
	}		
}
.searchInner{		
	.close {
	    font-size: 24px;
	    font-weight: normal;
	    text-shadow: 0 none;
	    @include pos(f, 30px 110px null null);
	    @media screen and (max-width:992px){
	    	right: 80px;
	    }
	    @media screen and (max-width:767px){
	    	right: 20px;
	    	top:20px;
	    }
	}
	h2{
		@include text-format-weight(34px,$white,700);
		margin: 0 0 35px 0;
		@media screen and (max-width:992px){
			font-size: 30px;
			margin-bottom: 25px;
		}
	}
	p{
		&.serviceList{
			@include text-format-weight(14px,$black,400);
			margin-top: 15px;
			a{
				text-decoration: underline;
			}
		}
	}
	.searchFrom{
		display: flex;
		width:100%;
		@media screen and (max-width:767px){
			display: block;
		}
		.form-group{
			margin-bottom: 0px;	
			min-width: 128px;
			@media screen and (max-width:767px){
				display: block;
				margin-bottom: 10px;
			}	
			&.flex2{
				flex:2;  
			}
			.btn{
				&.themeBtn{
					height: 100%;
					max-height: 62px;
					@media screen and (max-width:992px){
						max-height: 40px;
					}
				}
			} 
			&:last-child{
				width: 100px;
				margin-bottom: 0;
				@media screen and (max-width:767px){
					width: 100%;
				}
			}	
		  	input,select,textarea{  
		   	 	&.form-control{
		      		@include text-format-weight(14px,$black,400);
		      		padding: 0px 20px;
		      		line-height: 62px;
		      		height:62px;
		      		background-color: $white;
		      		border:0 none;
		      		@media screen and (max-width:992px){
		      			padding: 0px 10px;
		      			line-height: 40px;
		      			height:40px;
		      		}
		      		@media screen and (max-width:992px){
		      			padding: 0px 20px 0 15px;
		      		}
		    	}  
		    	&.btn{
		    		line-height: 62px;
		      		height:62px;
		      		border:0 none;
		      		@media screen and (max-width:992px){
		      			line-height: 40px;
		      			height:40px;
		      		}
		    	}
		  	}
		  	.select-outer{
		  		background-color: $white;
		   		&:after {
		      		@include pos(a, calc(50% - 4px) 10px null null);
		      		font-size:8px;
		      		z-index: -1;
		      		@media screen and (max-width:1200px){
	        		    top: calc(50% - 4px);
						font-size: 8px;
		      		}  
		      		@media screen and (max-width:767px){
	        		    right:10px;
		      		}                
		    	}			    
		  	}
		}
	}
}  
/*  page search css start */
.pagesearchBox{
	.searchInner{
		margin-bottom: 15px;
		h2{
			@include text-format-weight(16px,$black,700);
			margin: 0 0 20px 0;
			@media screen and (max-width:992px){
				font-size: 14px;
				margin-bottom:15px;
			}
		}
		.searchFrom{
			.form-group{
				input,select,textarea{  
			   	 	&.form-control{		      		
			      		background-color: $light-Sky;		      	
			    	} 
			  	}	
			}
			&.whiteSearch{
				border:1px solid $color-d9;
				.form-group{
					input,select,textarea{  
				   	 	&.form-control{		      		
				      		background-color: transparent;		      	
				    	} 
				  	}	
			    }
			}
		}
	}
	.serviceListRow{
		border:1px solid $color-e5;
		margin:0 0 20px 0;
		@media screen and (max-width:767px){
			margin-bottom: 10px;
		}
		&:first-child{
			margin-top: 40px;
			@media screen and (max-width:767px){
				margin-top: 20px;
			}
		} 
		.headingRow{
			display: flex;
			align-items:center;
			padding: 15px 30px;
			border-bottom:1px solid $color-e5;
			@media screen and (max-width:767px){
				padding: 10px 15px;
			}
			@media screen and (max-width:479px){
				display: block;
			}
			.left{}
			.right{
				flex:2;
				text-align: right;
				@media screen and (max-width:479px){
					margin-top: 10px;
				}
				.btn{
  					&.themeBtn{
  						font-weight: 400;
  						color:#676767;
  						&:hover{
  							color: $white;
  							i{
  								&:before{
  									color: $white;
  								}
  							}
  						}
  						i{
							margin-right: 8px;
							font-size: 12px;
							&:before{
								color:#676767;
							}
						}
  					}
  				}
			}
			h3{
				margin:0; 
				@include text-format-weight(16px,$blue-color,600);
				i{
					margin-right: 10px;
				}
			}
		}	
		.searchBody{
			padding: 20px 30px;
			@media screen and (max-width:767px){
				padding: 10px 15px;
			}
			.priceEstimateBox{
				margin-bottom: 10px;
	    		&:last-child{
	    			margin-bottom: 0;
	    		}
				.bodyheading{
					margin-bottom: 15px;
					display: flex;
					align-items:center;
					.left{
						flex:2;
						h2{
							@include text-format-weight(16px,$black,600);
							margin: 0;
						}
					} 
					.right{
						text-align: right;	
						i{
							@include text-format-weight(6px,#676767,600);
							cursor: pointer;
						}			
					}				
				}
				.searchingList{
					display: inline-block;
	    			padding: 0;
	    			align-items:center;	    			
	    			@media screen and (max-width:767px){
						padding: 10px 0px;
					}
					ul{
						display: inline-block;
					}
					li{
						padding: 10px 15px;
						@include text-format-weight(16px,$black,400);
						background-color: $light-Sky;		      	
						margin: 2px;
						@media screen and (max-width:992px){
							padding: 6px 10px;
	    					font-size: 14px;
						}
						span{
							cursor: pointer;
							margin-left: 10px;
							@include display(middle);
							&:before{
								color: #bfc6c6;
							}
						}
						&.addmore{
							background-color: transparent;
							@include text-format-weight(14px,$blue-color,600);
							cursor: pointer;
							i{
								margin-right: 8px;
								font-size: 12px;
								&:before{
									color:$blue-color; 
								}
							}
						}
					}
				}
			}
		}
	}
	.bottombtn{
		margin-top: 40px;
	}
}
/*  page search css end */