<section class="changePasswordPage topPadding">
    <div class="container"> 
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">             
            <div class="title text-center">
                <h1>Change your Password</h1>
                <p>The current password is a default password. Please enter a new Password and Confirm your new password to change</p>
            </div>
            <div class="inerContainer"> 
                <form name="loginform" data-ng-init="submitted = false;" data-ng-submit="loginform.$valid ? login() : submitted = true" novalidate>
                    <div class="form-group">
                        <input type="password" placeholder="Old Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="New Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Re-enter new password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Changes" class="btn themeBtn btn-block">
                    </div>                   
                </form>
            </div>
        </div>
    </div>
</section>



