<section class="faqPage topPadding">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">           
            <div class="title text-center">
                <h1>Frequently  Questions</h1> 
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,</p>
            </div>
            <div class="faqOuter">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group  class="panel-default panelBox"  is-open="status.open">
				      	<uib-accordion-heading>
				        	There are many variations of passages of Lorem Ipsum available? <i class="arrow" ng-class="{'icon-faqUp': status.open, 'icon-faqDown': !status.open}"></i>
				      	</uib-accordion-heading>
				      	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,There are many variations of passages of Lorem Ipsum available.
				    </div>
				    <div uib-accordion-group class="panel-default panelBox"  is-open="status.open">
				      	<uib-accordion-heading>
				        	There are many variations of passages of Lorem Ipsu? <i class="arrow" ng-class="{'icon-faqUp': status.open, 'icon-faqDown': !status.open}"></i>
				      	</uib-accordion-heading>
				      	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
				    </div>
				</uib-accordion>
            </div>
        </div>
    </div>
</div>

