<section class="loginSignupPage">
    <div class="container">
        <div class="inerContainer">
            <div class="title">
                <h1>Forgot Your Password</h1> 
                <p>Enter your email address, You'll receive an email with a link to reset your password </p>
            </div>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Id">
                </div>                            
                <div class="form-group">
                    <input type="submit" value="Retrieve Password" class="btn themeBtn btn-block" data-ui-sref="main.email-verify">
                </div>
            </form>                                        
        </div>
    </div>
</section>


