<section class="loginSignupStepPage topPadding">
    <div class="container">
        <div class="title text-center">
            <h1>Complete Your Profile</h1> 
            <p>You need to complete your profile</p>
        </div>
        <div class="row">
            <div class="steps col-sm-10 col-sm-offset-1">
                <ul>
                    <li class="active"><h5>Personal Info</h5><span>1</span></li>
                    <li class="active"><h5>Add Services</h5><span>2</span></li>
                    <li><h5>Add Availability</h5><span>3</span></li>
                    <li><h5>Account Detail</h5><span>4</span></li>
                </ul>
            </div>  
        </div>
        <div class="row">            
            <!-- step2 html start -->
            <div class="col-md-8 col-md-offset-2 pagesearchBox">
                <div class="searchInner">
                    <h2>Select Service</h2>
                    <form class="searchFrom">                                         
                        <div class="form-group">
                            <div class="select-outer">
                                <select class="form-control">
                                    <option>Consultation</option>
                                    <option>Consultationl</option>
                                </select>
                            </div>              
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn themeBtn btn-block">
                        </div>          
                    </form>
                    <p class="serviceList">Service not in the List? <a href="#">Contact Admin</a></p>
                </div>
                
                <div class="row">
                    <!-- if no device added start -->
                    <div class="col-sm-12 text-center nodata" style="display: none;">
                        <img src="assets/images/addDevice.png" alt="">
                        <h3>Add Services</h3>
                        <p>Add Services that you provide to the Customers.</p>
                    </div>
                    <!-- if no device added end -->

                    <!-- service list start -->
                    <div class="col-sm-12">
                        <!-- repeat list start -->
                        <div class="clearfix serviceListRow">
                            <div class="col-sm-12 headingRow">
                                <div class="left">
                                    <h3><i class="icon-pluscircle"></i> Water Damage</h3>
                                </div>
                                <div class="right">
                                    <button class="btn themeBtn border-btn height35"  data-toggle="modal" data-target="#adddeviceModal" ><i class="icon-plus"></i> Add devices</button>
                                </div>
                            </div>
                            <div class="col-sm-12 searchBody">
                                <div class="clearfix priceEstimateBox">
                                    <div class="bodyheading">
                                        <div class="left">
                                            <h2>£15.00 , Estimated 3 Days</h2>
                                        </div>
                                        <div class="right">
                                            <i class="icon-horizontalDots"></i>
                                        </div>
                                    </div>
                                    <ul class="searchingList">
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li class="addmore" data-toggle="modal" data-target="#addmoredeviceModal"><i class="icon-plus"></i>  Add more</li>
                                    </ul> 
                                </div>
                                <div class="clearfix priceEstimateBox">
                                    <div class="bodyheading">
                                        <div class="left">
                                            <h2>£15.00 , Estimated 3 Days</h2>
                                        </div>
                                        <div class="right">
                                            <i class="icon-horizontalDots"></i>
                                        </div>
                                    </div>
                                    <ul class="searchingList">
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li class="addmore"  data-toggle="modal" data-target="#addmoredeviceModal"><i class="icon-plus"></i>  Add more</li>
                                    </ul> 
                                </div>                             
                            </div>              
                        </div>                    
                        <!-- repeat list end --> 
                        <!-- repeat list start -->
                        <div class="clearfix serviceListRow">
                            <div class="col-sm-12 headingRow">
                                <div class="left">
                                    <h3>Water Damage</h3>
                                </div>
                                <div class="right">
                                    <button class="btn themeBtn border-btn height35"  data-toggle="modal" data-target="#adddeviceModal"><i class="icon-plus"></i>  Add devices</button>
                                </div>
                            </div>
                            <div class="col-sm-12 searchBody">
                                <div class="clearfix priceEstimateBox">
                                    <div class="bodyheading">
                                        <div class="left">
                                            <h2>£15.00 , Estimated 3 Days</h2>
                                        </div>
                                        <div class="right">
                                            <i class="icon-horizontalDots"></i>
                                        </div>
                                    </div>
                                    <ul class="searchingList">
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li class="addmore"><i class="icon-plus"></i> Add more</li>
                                    </ul> 
                                </div>
                                <div class="clearfix priceEstimateBox">
                                    <div class="bodyheading">
                                        <div class="left">
                                            <h2>£15.00 , Estimated 3 Days</h2>
                                        </div>
                                        <div class="right">
                                            <i class="icon-horizontalDots"></i>
                                        </div>
                                    </div>
                                    <ul class="searchingList">
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                        <li class="addmore"><i class="icon-plus"></i> Add more</li>
                                    </ul> 
                                </div>                             
                            </div>              
                        </div>                    
                        <!-- repeat list end -->  
                        
                        <div class="form-group bottombtn text-center">
                            <input  data-ui-sref="main.technician-signup-step3" type="submit" value="Save & Next" class="btn themeBtn min-width360">
                        </div>   
                    </div>
                    <!-- service list end -->
                </div>
            </div>
            <!-- step2 html end -->
        </div>
    </div>
</section>

<!-- add device Modal start -->
<div id="adddeviceModal" class="modal customModal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">    
      <div class="modal-body text-center">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h3>Add Devices</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <div class="select-outer">
                    <select class="form-control">
                        <option>Select brand</option>
                        <option>Select brand</option>
                    </select>                   
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="select-outer">
                    <select class="form-control">
                        <option>Select model</option>
                        <option>Select model</option>
                    </select>                   
                </div>
            </div>
            <div class="clearfix">
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control" placeholder="Price">
                </div>
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control" placeholder="Estimated days">
                </div>
            </div>
            <div class="form-group col-xs-12">
                <input type="submit" value="Submit" class="btn themeBtn btn-block">
            </div>   
        </div>       
      </div>
    </div>
  </div>
</div>
<!-- add device Modal end -->



<!-- add more device Modal start -->
<div id="addmoredeviceModal" class="modal customModal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">    
      <div class="modal-body text-center">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h3>Add More Devices</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <div class="select-outer">
                    <select class="form-control">
                        <option>Select brand</option>
                        <option>Select brand</option>
                    </select>                   
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="select-outer">
                    <select class="form-control">
                        <option>Select model</option>
                        <option>Select model</option>
                    </select>                   
                </div>
            </div>
            <div class="form-group col-xs-12">
                <input type="submit" value="Submit" class="btn themeBtn btn-block">
            </div>   
        </div>       
      </div>
    </div>
  </div>
</div>
<!-- add more device Modal end -->