<div class="container bankAccPage">
    <div class="title text-center">
        <h1>Account Details</h1> 
    </div>       
    <div class="row">
        <!-- step1 html start -->
        <div class="col-sm-12">
            <div class="inerContainer"> 
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Date of Birth">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Routing number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Account number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="State">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Postal code">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Personal ID number">
                    </div>
                    <div class="form-group ">
                        <label>Verification Doc.</label>
                        <div class="fileChoose">
                            <button>Choose Files</button>                        
                            <label>No file chosen</label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Changes" class="btn themeBtn btn-block" data-ui-sref="main.technician-signup-step2">
                    </div>                
                </form>           
            </div>
        </div>
        <!-- step1 html end -->
    </div>
</div>