<div class="container">       
    <div class="row">            
        <!-- step2 html start -->
        <div class="col-md-8 col-md-offset-2 pagesearchBox">
            <div class="searchInner">
                <h2>Select Service</h2>
                <form class="searchFrom">                                         
                    <div class="form-group">
                        <div class="select-outer">
                            <select class="form-control">
                                <option>Consultation</option>
                                <option>Consultationl</option>
                            </select>
                        </div>              
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn themeBtn btn-block">
                    </div>          
                </form>
                <p class="serviceList">Service not in the List? <a href="#">Contact Admin</a></p>
            </div>
            
            <div class="row">
                <!-- if no device added start -->
                <div class="col-sm-12 text-center nodata" style="display: none;">
                    <img src="assets/images/addDevice.png" alt="">
                    <h3>Add Services</h3>
                    <p>Add Services that you provide to the Customers.</p>
                </div>
                <!-- if no device added end -->

                <!-- service list start -->
                <div class="col-sm-12">
                    <!-- repeat list start -->
                    <div class="clearfix serviceListRow">
                        <div class="col-sm-12 headingRow">
                            <div class="left">
                                <h3><i class="icon-pluscircle"></i> Water Damage</h3>
                            </div>
                            <div class="right">
                                <button class="btn themeBtn border-btn height35"  data-toggle="modal" data-target="#adddeviceModal" ><i class="icon-plus"></i> Add devices</button>
                            </div>
                        </div>
                        <div class="col-sm-12 searchBody">
                            <div class="clearfix priceEstimateBox">
                                <div class="bodyheading">
                                    <div class="left">
                                        <h2>£15.00 , Estimated 3 Days</h2>
                                    </div>
                                    <div class="right">
                                        <i class="icon-horizontalDots"></i>
                                    </div>
                                </div>
                                <ul class="searchingList">
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li class="addmore" data-toggle="modal" data-target="#addmoredeviceModal"><i class="icon-plus"></i>  Add more</li>
                                </ul> 
                            </div>
                            <div class="clearfix priceEstimateBox">
                                <div class="bodyheading">
                                    <div class="left">
                                        <h2>£15.00 , Estimated 3 Days</h2>
                                    </div>
                                    <div class="right">
                                        <i class="icon-horizontalDots"></i>
                                    </div>
                                </div>
                                <ul class="searchingList">
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li class="addmore"  data-toggle="modal" data-target="#addmoredeviceModal"><i class="icon-plus"></i>  Add more</li>
                                </ul> 
                            </div>                             
                        </div>              
                    </div>                    
                    <!-- repeat list end --> 
                    <!-- repeat list start -->
                    <div class="clearfix serviceListRow">
                        <div class="col-sm-12 headingRow">
                            <div class="left">
                                <h3>Water Damage</h3>
                            </div>
                            <div class="right">
                                <button class="btn themeBtn border-btn height35"  data-toggle="modal" data-target="#adddeviceModal"><i class="icon-plus"></i>  Add devices</button>
                            </div>
                        </div>
                        <div class="col-sm-12 searchBody">
                            <div class="clearfix priceEstimateBox">
                                <div class="bodyheading">
                                    <div class="left">
                                        <h2>£15.00 , Estimated 3 Days</h2>
                                    </div>
                                    <div class="right">
                                        <i class="icon-horizontalDots"></i>
                                    </div>
                                </div>
                                <ul class="searchingList">
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li class="addmore"><i class="icon-plus"></i> Add more</li>
                                </ul> 
                            </div>
                            <div class="clearfix priceEstimateBox">
                                <div class="bodyheading">
                                    <div class="left">
                                        <h2>£15.00 , Estimated 3 Days</h2>
                                    </div>
                                    <div class="right">
                                        <i class="icon-horizontalDots"></i>
                                    </div>
                                </div>
                                <ul class="searchingList">
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li>Apple Iphone 6s<span class="icon-Cross"></span></li>
                                    <li class="addmore"><i class="icon-plus"></i> Add more</li>
                                </ul> 
                            </div>                             
                        </div>              
                    </div>                    
                    <!-- repeat list end -->  
                    
                    <div class="form-group bottombtn text-center">
                        <input  data-ui-sref="main.technician-signup-step4" type="submit" value="Save Changes" class="btn themeBtn min-width360">
                    </div>   
                </div>
                <!-- service list end -->
            </div>
        </div>
        <!-- step2 html end -->
    </div>
</div>