<div class="custom-tabs">
    <div class="container"> 
        <ul>
            <li><a data-ui-sref="techLayout.section({type:'myprofile'})" data-ui-sref-active="active">My Profile</a></li>
            <li><a data-ui-sref="techLayout.section({type:'availability'})"  data-ui-sref-active="active">Availability</a></li>
            <li><a data-ui-sref="techLayout.section({type:'services'})" data-ui-sref-active="active">Services</a></li> 
            <li><a data-ui-sref="techLayout.section({type:'bank-account'})" data-ui-sref-active="active">Account Details</a></li>            
        </ul> 
    </div>
</div>
<section class="topPadding">
    <div data-ui-view="section"></div>
</section>