$blue-color:#477ac3;
$dark-blue:#213b78;
$light-blue:#73809d; 
$medium-blue:#3359b4; 
$tab-blue:#97b7e6;
$black:#000;
$white:#fff;
$redcolor:#ff0000;
$red:#f14033;
$green:#11db39;
$light-Sky:#eff8f7; 
$dark-Sky:#b4f4f4;
$greyColor:#d9d9d9;
$navyColor:#43609c;
$color-6b:#6b6b6b;
$color-d9:#d9d9d9;
$color-79:#797979;
$color-f0:#f0f0f0;
$color-df:#dfdfdf;
$color-e5:#e5e5e5;
$color-fa:#fffafa;
$yellow:#f7c829;
$family: 'Fira Sans', sans-serif;









$blue-text:#1b80e7;  

$black-color:#000;
$white-color:#fff;
$transparent-color:transparent;
$darkgrey-color:#1f1e1d;
$grey-color:#191919;
$color-99:#999999;
$color-f2:#f2f2f2;
$color-f7:#f7f7f7;
$color-f1:#f1f1f1;
$color-f5:#f5f5f5;
$color-fb:#fbfbfb;
$color-aa:#aaaaaa;
$color-42:#424242; 
$color-c7:#c7c7c7; 
$color-80:#808080;
$color-df:#dfdfdf;  

$input-color:#fdfdfe;
$color-cc:#cccccc;
$color-bb:#bbbbbb;
$greencolor:#001d28;
$color-f9:#f9f9f9;

$color-b7:#b7b7b7;

$orange:#ef9815;

$alertBg:#fef8ef;

$moonfamily:'icomoon' !important;    
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px;
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;

$image-path		  : "../images" !default;
$font-path        : "../../assets/fonts" !default;
$icons-font-path  : "../fonts/fonts" !default;