<!-- search popup start -->
<div class="searchOuter" ng-class="class" >
	<div class="container">
		<div class="searchBox">
			<div class="searchInner">
				<div class="close" ng-click="searchToggle()"><i class="icon-Cross"></i></div>
				<h2>Search Technician </h2>
				<form class="searchFrom">
					<div class="form-group">
						<div class="select-outer">
							<select class="form-control">
								<option>Select brand</option>
								<option>Select brand</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="select-outer">
							<select class="form-control">
								<option>Select model</option>
								<option>Select model</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="select-outer">
							<select class="form-control">
								<option>Select issue</option>
								<option>Select issue</option>
							</select>
						</div>				
					</div>
					<div class="form-group">
						<input type="text" placeholder="Post code" class="form-control">
					</div>
					<div class="form-group">
						<input type="submit" class="btn themeBtn btn-block">
					</div>			
				</form>
			</div>
		</div>
	</div>
</div>
<!-- search popup end -->