<section class="loginSignupPage">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">            
            <div class="title text-center">
                <h1>Verify Your Email</h1>
                <p>An email verification link has been sent to your registered email id please verify your email id.</p> 
            </div>           
            <div class="text-center">
            	<a href="#" class="btn themeBtn min-width360">Ok</a>
            </div>
        </div>
    </div>
</section>
