<section class="homeInnerPage ">
	<div class="homeinnerBanner">
		<div class="inerBnrContent"> 
			<h1>Get Quote</h1>
		</div>
	</div>
    <div class="container pagesearchBox topPadding">
       	<div class="searchInner col-md-10 col-md-offset-1  col-lg-8 col-lg-offset-2">
            <h2>Device Details</h2>
            <form class="searchFrom whiteSearch">                                         
                <div class="form-group">
                    <div class="select-outer">
                        <select class="form-control">
                            <option>Select brand</option>
                            <option>Select brand</option>
                        </select>
                    </div>              
                </div>
                <div class="form-group">
                    <div class="select-outer">
                        <select class="form-control">
                            <option>Select model</option>
                            <option>Select model</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="select-outer">
                        <select class="form-control">
                            <option>Select Issue</option>
                            <option>Select Issue</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group">
                	<input type="text" placeholder="Post Code" class="form-control">
                </div>     
                <div class="form-group">
                    <input type="submit" value="Search" class="btn themeBtn btn-block">
                </div>          
            </form>                  
        </div>
    </div>
    <div class="mobileRepairSection">
    	<div class="container">
            <div class="nodata">
        		<div class="icon"><img src="assets/images/damageIcon.png" alt=""></div>
        		<h2>Want to Get your Mobile Repaired?</h2>
    			<h3>Our Verified Technicians will fix it...</h3>
            </div>
    	</div>
    </div>
</div>

