<div class="messagePage">
	<div class="container">
	  	<div class="row messagebox"> 
 			<div class="col-sm-3 inboxsidebar">
				<div class="col-xs-12">
					<div class="form-group">
			          	<input type="text" class="form-control" placeholder="Search">
			        </div>
				</div>
				<div class="row">
					<ul class="col-xs-12">
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
						<!-- repeat li start -->
						<li>
							<div class="profilePhoto">
								<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
		                    </div>
							<h2>Fikri Ruslandi</h2>
							<p>Ko, Kumaha Project anu eta</p>
							<h3>15 April 02:00pm</h3>
						</li>
						<!-- repeat li end -->	
					</ul>
				</div>
			</div>
			<div class="col-sm-9 inboxRight">
				<div class="messageInfo row">
					<div class="col-xs-9 padding-0">
						<div class="profilePhoto">
							<div class="imgOute"><img src="assets/images/userImg.jpg" alt="profile Image" class="img-responsive"/></div>
	                    </div>
	                    <h2><a href="#">Sender's Name</a></h2>
	                </div>
	                <ul class="col-xs-3 iconList">
	                	<li><i class="icon-menu"></i></li>
	                </ul>
				</div>
				<div class="boxMessage clearfix">
					<!-- recevier start -->
					<div class="messageOuter recevier clearfix">
						<div class="message">
	                    	<p>
		                    	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. </span>
		                    </p>
		                    <h5>09:05 AM, 23-05-2018</h5>
	                    </div>				                    
					</div>
					<!-- recevier end -->
					<!-- sender start -->
					<div class="messageOuter sender clearfix">
						<div class="message">
	                    	<p>
		                    	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. </span>
		                    </p>
		                    <h5>09:05 AM, 23-05-2018</h5>
	                    </div>	
					</div>
					<!-- sender end -->		
					<!-- recevier start -->
					<div class="messageOuter recevier clearfix">
						<div class="message">
	                    	<p>
		                    	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. </span>
		                    </p>
		                    <h5>09:05 AM, 23-05-2018</h5>
	                    </div>				                    
					</div>
					<!-- recevier end -->
					<!-- sender start -->
					<div class="messageOuter sender clearfix">
						<div class="message">
	                    	<p>
		                    	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. </span>
		                    </p>
		                    <h5>09:05 AM, 23-05-2018</h5>
	                    </div>	
					</div>
					<!-- sender end -->		
					<!-- recevier start -->
					<div class="messageOuter recevier clearfix">
						<div class="message">
	                    	<p>
		                    	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. </span>
		                    </p>
		                    <h5>09:05 AM, 23-05-2018</h5>
	                    </div>				                    
					</div>
					<!-- recevier end -->
					<!-- sender start -->
					<div class="messageOuter sender clearfix">
						<div class="message">
	                    	<p>
		                    	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. </span>
		                    </p>
		                    <h5>09:05 AM, 23-05-2018</h5>
	                    </div>	
					</div>
					<!-- sender end -->				
				</div>
				<div class="messageType row">
					<div class="col-sm-12 form-group">
						<div class="input-group">
						    <span class="input-group-btn fileup">
						    	<input type="file">
						    	<button class="icon-attachment btn"></button></span>
						    <input type="text" placeholder="Type message here ..." class="form-control">
						    <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Send</button>
					      </span>						   
						</div>						
					</div>
				</div>
			</div>
    	</div>
    </div>
</div>