<div class="currentOrderPage">
    <div class="row">
    	<div class="col-sm-6">
    		<h1>Upcoming Work</h1>
    	</div>
    	<div class="col-sm-6 text-right"></div>
    </div>
    <div class="row"> 
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox"> 
	    			<div class="userImgbox"> 
	    				<a data-ui-sref="myorderLayout.subsection({type:'upcoming-work-detail-tech'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'upcoming-work-detail-tech'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<div class="form-group">
				                    <div class="select-outer">
				                        <select class="form-control">
				                            <option value="How did you hear about us?">Yet to Start</option>
				                            <option value="How did you hear about us?">Yet to Start</option>
				                        </select>                   
				                    </div>
				                </div>
							</div>
							<div class="reportedUser">
								<button  data-ui-sref="main.message"  class="btn themeBtn border-btn min-width165"  data-toggle="modal" data-target="#workCompletedModal">Send Message</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'upcoming-work-detail-tech'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'upcoming-work-detail-tech'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<div class="form-group">
				                    <div class="select-outer">
				                        <select class="form-control">
				                            <option value="How did you hear about us?">Yet to Start</option>
				                            <option value="How did you hear about us?">Yet to Start</option>
				                        </select>                   
				                    </div>
				                </div>
							</div>
							<div class="reportedUser">
								<button  data-ui-sref="main.message"  class="btn themeBtn border-btn min-width165">Send Message</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'upcoming-work-detail-tech'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'upcoming-work-detail-tech'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<div class="form-group">
				                    <div class="select-outer">
				                        <select class="form-control">
				                            <option value="How did you hear about us?">Yet to Start</option>
				                            <option value="How did you hear about us?">Yet to Start</option>
				                        </select>                   
				                    </div>
				                </div>
							</div>
							<div class="reportedUser">
								<button  data-ui-sref="main.message"  class="btn themeBtn border-btn min-width165">Send Message</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    </div>
</div>


<!-- add device Modal start -->
<div id="workCompletedModal" class="modal customModal fade" role="dialog">
  	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">    
	      	<div class="modal-body text-center">
	        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
		        <div class="icon"><img src="assets/images/completeicon.png" alt=""></div>
		        <h3>Completed Successfully</h3>
		        <p>You have completed this job successfully. Send release notes to the customer.</p>
		        <div class="row">
		            <div class="form-group col-xs-12">
		                <textarea class="form-control" placeholder="Write something here..."></textarea>
		            </div>
		            <div class="form-group text-left col-xs-12">
		                <label>Attachments</label>
		                <div class="fileChoose">
		                    <button>Choose Files</button>                        
		                    <label>No file chosen</label>
		                    <input type="file">
		                </div>                         
		            </div>
		            <div class="form-group col-xs-12">
		                <input type="submit" value="Submit" class="btn themeBtn btn-block">
		            </div>   
		        </div>       
	      	</div>
	    </div>
  	</div>
</div>
<!-- add device Modal end -->