<div class="myrequestPage">
	<div class="row">
    	<div class="col-sm-6 back">
    		<a data-ui-sref="myorderLayout.subsection({type:'completedWork'})"><i class="icon-leftarw"></i> back</a> 
    	</div>
    	<div class="col-sm-6 text-right"></div>
    </div>
    <div class="row">     	
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a href="#"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a href="#">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
								<table class="table customTable">
									<tr>
										<td>Pickup Date</td>
										<td>Pickup Time</td>
									</tr>
									<tr>
										<th>Tuesday 17, 2018</th>
										<th>10:00 am - 11:00 am</th>
									</tr>
								</table>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								<div class="imageslist">
									<div class="imgBox">
										<img src="assets/images/mobilebreakimg1.jpg" alt="" class="img-responsive">
									</div>
									<div class="imgBox">
										<img src="assets/images/mobilebreakimg1.jpg" alt="" class="img-responsive">
									</div>
									<div class="imgBox">
										<img src="assets/images/mobilebreakimg1.jpg" alt="" class="img-responsive">
									</div>
								</div>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>    	
    	<div class="col-sm-12 box notesBox">
	    	<div class="col-sm-12 inerBox">
	    		<div class="clearfix headrow">
    				<h3>Release Notes</h3>
					<h4>14 April,2018</h4>
    			</div>
    			<div class="notesinner">
					<p>
		    			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
		    		</p>	
		    		<div class="imageslist">
						<div class="imgBox">
							<img src="assets/images/mobilebreakimg1.jpg" alt="" class="img-responsive">
						</div>
						<div class="imgBox">
							<img src="assets/images/mobilebreakimg1.jpg" alt="" class="img-responsive">
						</div>
						<div class="imgBox">
							<img src="assets/images/mobilebreakimg1.jpg" alt="" class="img-responsive">
						</div>
					</div>	    		
				</div>	    		
	    	</div>
    	</div>
    	<div class="col-sm-12 box notesBox">
	    	<div class="col-sm-12 inerBox">
	    		<div class="clearfix headrow">
    				<h3>Technician Review Notes and Cost</h3>
					<h4>14 April,2018</h4>
    			</div>
    			<div class="notesinner">
					<h5>Notes</h5>
		    		<p>
		    			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
		    		</p>
		    		<table class="table customTable">
						<tr>
							<th>New Pickup Date</th>
							<td>Tuesday 17, 2018</td>
						</tr>
						<tr>
							<th>New Pickup Time</th>
							<td>10:00 am - 11:00 am</td>
						</tr>
						<tr>
							<th>Job Charges</th>
							<td>£90.00</td>
						</tr>
						<tr>
							<th>Visiting Charges</th>
							<td>£5.00</td>
						</tr>
						<tr class="totalRow">
							<td>Total</td>
							<td>£100.00</td>
						</tr>
					</table>
					<div class="clearfix reportStatus">
						<div class="reportedUser">
							<span>Payment Not Released</span>
							<button class="btn themeBtn border-btn min-width165">Send Message</button>
						</div>							
					</div>
				</div>	    		
	    	</div>
    	</div> 
    	<div class="col-sm-12 text-center redalert">
    		<span  data-toggle="modal" class="red" data-target="#reportModal"><i class="icon-alert"></i> Report This to Admin</span>
    	</div>
    </div>
</div>
<!-- report Modal start -->
<div id="reportModal" class="modal customModal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">    
      <div class="modal-body text-center">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <div class="icon"><i class="icon-alert"></i></div>
        <h3>Report this to Admin</h3>
        <p>The payment will go on hold until the isue is resolved by the Admin.</p>
        <div class="row">
        	<div class="form-group col-xs-12">
                <div class="select-outer">
                    <select class="form-control">
                        <option>Select Reason</option>
                        <option>Select Reason</option>
                    </select>                   
                </div>
            </div>
            <div class="form-group col-xs-12">
                <textarea class="form-control" placeholder="Write something here..."></textarea>
            </div>     
            <div class="form-group radio-outer col-xs-12 text-left">
                <label class="z_checked">
                    <input type="checkbox" name="checkboxInline">
                    <span>I agree to the Techlion <a href="#"><u>Privacy Policy</u></a></span>
                </label>
            </div>      
            <div class="form-group col-xs-12">
                <input type="submit" value="Submit" class="btn themeBtn btn-block">
            </div>   
        </div>       
      </div>
    </div>
  </div>
</div>
<!-- report Modal end -->