<div class="currentOrderPage">
    <div class="row">
    	<div class="col-sm-6">
    		<h1>Past Orders</h1>
    	</div>
    	<div class="col-sm-6 text-right"></div>
    </div>
    <div class="row"> 
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'past-orders-rated-not'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'past-orders-rated-not'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<i class="icon-completed"></i>
								<span>Completed</span>
							</div>
							<div class="reportedUser">
								<button class="btn themeBtn min-width165" data-toggle="modal" data-target="#ratingModal">Rate Technician</button>
								<button class="btn themeBtn border-btn min-width165">Re-Book</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox"> 
	    				<a data-ui-sref="myorderLayout.subsection({type:'past-orders-rated'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'past-orders-rated'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<i class="icon-completed"></i>
								<span>Completed</span>
							</div>
							<div class="reportedUser">
								<span>Your Rating:</span>
								<ul class="rattingstar">
									<li><i class="icon-rattingstar"></i></li>
									<li><i class="icon-rattingstar"></i></li>
								</ul> 
								<button class="btn themeBtn border-btn min-width165">Re-Book</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<img src="assets/images/userImg.jpg" alt="" class="img-responsive">
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2>Nick Rassel</h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<i class="icon-completed"></i>
								<span>Completed</span>
							</div>
							<div class="reportedUser">
								<button class="btn themeBtn min-width165">Rate Technician</button>
								<button class="btn themeBtn border-btn min-width165">Re-Book</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    </div>
</div>

<!-- rating technician Modal start -->
<div id="ratingModal" class="modal customModal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">    
      <div class="modal-body text-center">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <div class="icon"><img src="assets/images/completeicon.png" alt=""></div>
        <h3>Rate the Technician</h3>
        <p>We are always trying to improve what we do and your feedback is invaluable.</p>
        <div class="row">
            <div class="form-group col-xs-12">
                <textarea class="form-control" placeholder="Write something here..."></textarea>
            </div>
          	<div class="text-center ratingouter col-xs-12">
          		<ul class="rattingstar">
					<li class=""><i class="icon-rattingstar"></i></li>
					<li class=""><i class="icon-rattingstar"></i></li>
					<li class="grey"><i class="icon-rattingstar"></i></li>
					<li class="grey"><i class="icon-rattingstar"></i></li>
					<li class="grey"><i class="icon-rattingstar"></i></li>
				</ul> 
          	</div>
            <div class="form-group col-xs-12">
                <input type="submit" value="Submit" class="btn themeBtn btn-block">
            </div>   
        </div>       
      </div>
    </div>
  </div>
</div>
<!-- rating technician Modal end -->