<div class="myrequestPage">
	<div class="row">
		<div class="nodata">
            <div class="icon"><img src="assets/images/mobilenodata.png" alt=""></div>
            <h4>You have not created any Request yet.</h4>
            <button class="btn themeBtn">Create Now</button>
        </div>
	</div>
    <div class="row">
    	<div class="col-xs-8">
    		<h1>My Requests</h1>
    	</div>
    	<div class="col-xs-4 text-right">    		
			<div class="dropdown filter">
            	<a class="dropdown-toggle" type="button" data-toggle="dropdown">All <i class="icon-downarrow"></i></a>
                <div class="dropdown-menu">
                  	<ul>
                    	<li>Option1</li>
                    	<li>Option2</li>
                    	<li>Option3</li>
                    	<li>Option4</li>
                  	</ul>
                </div>
            </div> 
    	</div>
    </div>
    <div class="row"> 
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'myrequest-detail'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'myrequest-detail'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<i class="icon-pending"></i>
								<span>Confirmation Pending</span>
							</div>
							<div class="reportedUser">
								<button class="btn themeBtn border-btn min-width165">Delete this Request</button>
							</div>							
						</div>

	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'myrequest-detail-technician-detail'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'myrequest-detail-technician-detail'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<i class="icon-completed"></i>
								<span>Confirmed</span>
							</div>
							<div class="reportedUser">
								<button class="btn themeBtn border-btn min-width165">Delete this Request</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'myrequest-detail'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'myrequest-detail'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="open">
								<i class="icon-pending"></i>
								<span>Confirmation Pending</span>
							</div>
							<div class="reportedUser">
								<button class="btn themeBtn border-btn min-width165">Delete this Request</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    </div>
</div>