<div class="myrequestPage">
    <div class="row">
    	<div class="col-sm-6">
    		<h1>Requests Confirmed</h1>
    	</div> 
    	<div class="col-sm-6 text-right"></div>
    </div>
    <div class="row"> 
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'requests-confirmed-details-tech'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'requests-confirmed-details-tech'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="reportedUser">
								<button class="btn themeBtn border-btn min-width165">Withdraw</button>
							</div>							
						</div>

	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'requests-confirmed-details-tech'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'requests-confirmed-details-tech'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="reportedUser">
								<button class="btn themeBtn border-btn min-width165">Withdraw</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    	<!-- repeat box start -->
    	<div class="col-sm-12 box">
	    	<div class="col-sm-12 inerBox">
	    		<ul class="order-no">
					<li>Order ID: 123456789</li>
					<li>12 Jan,18 04:00pm</li>
				</ul>
	    		<div class="clearfix infobox">
	    			<div class="userImgbox">
	    				<a data-ui-sref="myorderLayout.subsection({type:'requests-confirmed-details-tech'})"><img src="assets/images/userImg.jpg" alt="" class="img-responsive"></a>
	    			</div>
	    			<div class="userInfoOuter">
	    				<div class="row">
	    					<div class="col-sm-2 col-sm-push-10 price">
								<span>£80</span>	
							</div>
		    				<div class="col-sm-10  col-sm-pull-2">
			    				<address class="address"><h2><a data-ui-sref="myorderLayout.subsection({type:'requests-confirmed-details-tech'})">Nick Rassel</a></h2>
									<ul>
										<li>rassel_nick@email.com</li>
										<li>+01 123 456 789</li>
									</ul>
									<p>25 Grey Street, Kidstones<br>
									2 miles away</p>
								</address>
								<p class="deviceName blue medium">Apple Iphone 6s</p>
								<p>Hangs when calling, Touch/LCD repair, Water damage repair</p>
							</div>							
						</div>
						<div class="clearfix reportStatus">
							<div class="reportedUser">
								<button class="btn themeBtn border-btn min-width165">Withdraw</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    </div>
</div>