<div class="currentOrderPage">
    <div class="row">
    	<div class="col-sm-6 back">
    		<a data-ui-sref="myorderLayout.subsection({type:'newrequest'})"><i class="icon-leftarw"></i> back</a>
    	</div>
    	<div class="col-sm-6 text-right">

    	</div>
    </div>
    <div class="row"> 
    	<!-- repeat box start -->
    	<div class="col-sm-12 box notesBox">  
	    	<div class="col-sm-12 inerBox">
	    		<div class="clearfix headrow">
    				<h3>Enter your Notes and Updated Cost <span>(If Any)</span></h3>
    			</div>
	    		<form>
	    			<div class="form-group">
	    				<label>Notes</label>
	    				<textarea placeholder="" class="form-control"></textarea>
	    			</div>
	    			<div class="form-group row">
	    				<label class="col-sm-4">New Pickup Date</label>
	    				<div class="col-sm-5">
		    				<input type="text" placeholder="Tuesday 17, 2018" class="form-control">
		    			</div>
	    			</div>
	    			<div class="form-group row">
	    				<label class="col-sm-4">New Pickup Time</label>
	    				<div class="col-sm-5">
		    				<input type="text" placeholder="07:00 am" class="form-control">
		    			</div>
	    			</div>
	    			<div class="form-group row">
	    				<label class="col-sm-4">Job Charges</label>
	    				<div class="col-sm-5">
		    				<input type="text" placeholder="£90.00" class="form-control">
		    			</div>
	    			</div>
	    		</form>
	    		<div class="clearfix infobox">	    			
	    			<div class="userInfoOuter full-width">
						<div class="clearfix reportStatus">
							<div class="reportedUser">
								<button class="btn themeBtn min-width165">Send</button>
							</div>							
						</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<!-- repeat box end -->
    </div>
</div>