<section class="homeInnerPage">
    <div class="homeinnerBanner">
        <div class="inerBnrContent">
            <h1>Book a Technician</h1> 
        </div>  
    </div>     
    <div class="technicianBookSection topPadding">
        <div class="container">
            <div class="row">
                <!-- left section start -->
                <div class="col-md-2 userBox">
                    <div class="userImgbox">
                        <a href="#"><img src="assets/images/large-userimg.jpg" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <!-- left section end -->
                <!-- right section start -->
                <div class="col-md-3 col-md-push-7">
                    <div class="filterBox">
                        <h3>Repair List for Iphone 6S <i class="arrow icon-faqDown pull-right"  ng-click="searchToggle()"></i></h3>
                        <div class="innerBox" ng-class="class">
                            <div class="filterInner">
                                <h4>Issue(s) with the Device</h4>
                                <div class="table-responsive">
                                    <table class="table chargesTable">
                                        <tr>
                                            <td><span class="icon-minus-symbol"></span> Hangs when calling</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><span class="icon-minus-symbol"></span> Touch/LCD repair</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><span class="icon-minus-symbol"></span> Water damage repair</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Job charges</strong></td>
                                            <td><strong>£50</strong></td>
                                        </tr>
                                        <tr>
                                            <td>10% Visiting Charges</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total</strong></td>
                                            <td><strong>£50</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>                
                        </div>                
                    </div>    
                </div>
                <!-- right section end -->
                <!-- center section start -->
                <div class="col-md-7 col-md-pull-3 centerContentBox">
                     <!-- repeat section start -->
                    <div class="clearfix row infobox">
                        <div class="col-sm-12">
                            <address class="address"><h2><a href="#">Nick Rassel</a></h2>
                                <ul>
                                    <li>rassel_nick@email.com</li>
                                    <li>+01 123 456 789</li>
                                </ul>
                                <p>25 Grey Street, Kidstones<br>
                                2 miles away</p>
                            </address>                                
                        </div>                              
                    </div>
                    <div class="calendarOuter">
                        <table class="table customTable">
                            <tr>
                                <td>Select Date</td>
                                <td>Pickup Time</td>
                            </tr>
                            <tr>
                                <th>Tuesday 17, 2018</th>
                                <th>10:00 am - 11:00 am</th>
                            </tr>
                        </table>                                         
                    </div>
                    <div class="feilds">
                        <div class="form-group">
                            <label>Additional Information (optional)</label>
                            <textarea class="form-control" placeholder="Write something here..."></textarea>
                        </div>
                        <div class="form-group">
                            <label>Attach Image (optional)
                            <span>Max 5Mb allowed</span></label>
                            <div class="imgbox">
                                <div class="fileChoose">
                                    <div class="chooseInner">
                                        <label><i class="icon-plus"></i>Add Image</label>
                                        <input type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="imgbox">
                                <img src="assets/images/addimg.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix reportStatus">
                        <div class="back"><a href="#"><i class="icon-leftarw"></i> back</a> </div>
                        <div class="reportedUser">
                            <button class="btn themeBtn border-btn min-width165">Cancel</button>
                            <button class="btn themeBtn min-width165">Send</button>
                        </div>                 
                    </div>                                    
                </div>
                <!-- center section end -->
            </div>
        </div>
    </div>
</div>

