<section class="homeInnerPage ">
    <div class="homeinnerBanner">
        <div class="inerBnrContent">
            <h1>Book a Technician</h1> 
        </div>
    </div>    
    <div class="technicianBookSection topPadding">
        <div class="container">
            <div class="row">
                <!-- left section start -->
                <div class="col-md-2 userBox">
                    <div class="userImgbox">
                        <a href="#"><img src="assets/images/large-userimg.jpg" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <!-- left section end -->
                <!-- right section start -->
                <div class="col-md-3 col-md-push-7">
                    <div class="filterBox">
                        <h3>Repair List for Iphone 6S <i class="arrow icon-faqDown pull-right"  ng-click="searchToggle()"></i></h3>
                        <div class="innerBox" ng-class="class">
                            <div class="filterInner">
                                <h4>Issue(s) with the Device</h4>
                                <div class="table-responsive">
                                    <table class="table chargesTable">
                                        <tr>
                                            <td><span class="icon-minus-symbol"></span> Hangs when calling</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><span class="icon-minus-symbol"></span> Touch/LCD repair</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><span class="icon-minus-symbol"></span> Water damage repair</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Job charges</strong></td>
                                            <td><strong>£50</strong></td>
                                        </tr>
                                        <tr>
                                            <td>10% Visiting Charges</td>
                                            <td>£50</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total</strong></td>
                                            <td><strong>£50</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>                
                        </div>                
                    </div>    
                </div>
                <!-- right section end -->
                <!-- center section start -->
                <div class="col-md-7 col-md-pull-3 centerContentBox">
                     <!-- repeat section start -->
                    <div class="clearfix row infobox">
                        <div class="col-sm-12">
                            <address class="address"><h2><a href="#">Nick Rassel</a></h2>
                                <ul>
                                    <li>rassel_nick@email.com</li>
                                    <li>+01 123 456 789</li>
                                </ul>
                                <p>25 Grey Street, Kidstones<br>
                                2 miles away</p>
                            </address>                                
                        </div>                              
                    </div>
                    <div class="calendarOuter">
                        <p class="blue">Request Detail</p>
                        <table class="table customTable">
                            <tr>
                                <td>Select Date</td>
                            </tr>
                            <tr>
                                <th>Tuesday 17, 2018</th>
                            </tr>
                        </table>                                         
                        <div class="calendarInner">
                            <img src="assets/images/large-cal.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="selectTimebox">
                        <h3>Select Time</h3>
                        <div class="form-group radio-outer">
                            <label class="z_radio">
                                <input type="radio" name="checkboxInline">
                                <span>06:00 am - 07:00 am</span>
                            </label>                                             
                        </div>
                        <div class="form-group radio-outer">
                            <label class="z_radio">
                                <input type="radio" name="checkboxInline">
                                <span>07:00 am - 08:00 am</span>
                            </label>                                            
                        </div>
                        <div class="form-group radio-outer">
                            <label class="z_radio">
                                <input type="radio" name="checkboxInline">
                                <span>08:00 am - 09:00 am</span>
                            </label>                           
                        </div>
                        <div class="form-group radio-outer">
                            <label class="z_radio">
                                <input type="radio" name="checkboxInline">
                                <span>09:00 am - 10:00 am</span>
                            </label>                                      
                        </div>
                        <div class="form-group radio-outer">
                            <label class="z_radio">
                                <input type="radio" name="checkboxInline">
                                <span>10:00 am - 11:00 am</span>
                            </label>                                           
                        </div>
                        <div class="form-group radio-outer">
                            <label class="z_radio">
                                <input type="radio" name="checkboxInline">
                                <span>11:00 am - 12:00 am</span>
                            </label>                                           
                        </div>
                    </div>
                    <div class="repairService">
                        <h3>Other Repair Services</h3>
                        <ul class="clearfix">
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Not Sure</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Speaker repair</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Water damage repair</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Not Sure</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Water damage repair</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Water damage repair</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Not Sure</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                            <li class="form-group radio-outer row">
                                <div class="col-xs-9">
                                    <label class="z_checked">
                                        <input type="checkbox" name="checkboxInline">
                                        <span>Water damage repair</span>
                                    </label>
                                </div> 
                                <div class="col-xs-3 text-right">£50
                                </div>                         
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix reportStatus">
                        <div class="back"><a href="#"><i class="icon-leftarw"></i> back</a> </div>
                        <div class="reportedUser">
                            <button class="btn themeBtn border-btn min-width165">Cancel</button>
                            <button data-ui-sref="main.request-detail" class="btn themeBtn min-width165">Next</button>
                        </div>                 
                    </div>                                    
                </div>
                <!-- center section end -->
            </div>
        </div>
    </div>
</div>

