<section class="trackpage topPadding">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="title text-center">
                <h1>Track Your Order</h1> 
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,</p>
            </div>
            <div class="col-sm-12 pagesearchBox">
                <div class="searchInner">
                    <form class="searchFrom">                                         
                        <div class="form-group">
                            <div class="select-outer">
                                <select class="form-control">
                                    <option>Customer</option>
                                    <option>Customer</option>
                                </select>
                            </div>              
                        </div> 
                        <div class="form-group">
                            <input type="text" name="" value="" placeholder="Enter order ID" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Track" class="btn themeBtn btn-block">
                        </div>          
                    </form>                  
                </div>
            </div>
            <div class="col-sm-12 box">
                <div class="clearfix infobox">
                    <div class="userImgbox">
                        <img src="assets/images/userImg.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="userInfoOuter">
                        <div class="row">
                            <div class="col-sm-2 col-sm-push-10 price">
                                <span>£80</span>    
                            </div>
                            <div class="col-sm-10  col-sm-pull-2">
                                <address class="address"><h2>Nick Rassel</h2>
                                    <ul>
                                        <li>rassel_nick@email.com</li>
                                        <li>+01 123 456 789</li>
                                    </ul>
                                    <p>25 Grey Street, Kidstones<br>
                                    2 miles away</p>
                                </address>
                                <p class="deviceName blue medium">Apple Iphone 6s</p>
                                <p>Hangs when calling, Touch/LCD repair, Water damage repair Estimated delivery: <span>5 Days</span></p>
                            </div>                          
                        </div>
                        <div class="clearfix reportStatus">
                            <div class="reportedUser">
                                <span>Current Orders</span>     
                            </div> 
                            <div class="open">
                                <i class="icon-yetstart"></i>
                                <span>Yet to Start</span>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

