<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-4 footLogo">
				<a href="#"><img src="assets/images/logo.png" alt="logo" class="img-responsive"></a>
			</div>
			<div class="col-sm-7 col-md-6">
				<ul class="list-inline footLink">
					<li><a data-ui-sref="main.about">About Us</a></li>
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a data-ui-sref="main.contact">Contact Us</a></li>
					<li><a data-ui-sref="main.faq">FAQ</a></li>
				</ul>
			</div>
			<div class="col-sm-2 socialList">
				<ul class="list-inline">
					<li><a href="#"><i class="icon-facebookIcon"></i></a></li>
					<li><a href="#"><i class="icon-twitterIcon"></i></a></li>
					<li><a href="#"><i class="icon-linkedInIcon"></i></a></li> 
				</ul>
			</div>
		</div>
		<div class="row text-center copyright">
			&copy;TechLion 2018. All Rights Reserved.
		</div>
	</div>
</div>