<!-- header start -->
<div class="container">
	<div class="logo">
	   <div class="logoInner"><a href="#"><img src="assets/images/logo.png" alt="logo" class="img-responsive"></a></div>	  
	</div>	
	<div class="headerRight">
		<div class="notificationSerach">
			<ul class="innerRight">
                <li class="userProfilebox dropdown">
					<div class="profileImg dropdown-toggle" type="button" data-toggle="dropdown">
						<img src="assets/images/dummyImage.png" alt="user image" class="img-responsive">
					</div>
					<h2 class="dropdown-toggle" type="button" data-toggle="dropdown"><span>Welcome</span>
						<span class="name">Joseph  Thompson</span>
					</h2>      	
	                <div class="dropdown-menu">
	                  <ul>
	                    <li>
	                      	<a data-ui-sref="techLayout.section({type:'myprofile'})">My Profile</a>
	                    </li>
	                    <li>
	                      	<a href="">Settings</a>
	                      	<ul>
								<li><a  data-ui-sref="main.change-password">Change Password</a></li>
								<li><a href="">Delete Account</a></li>
							</ul>
	                    </li>
	                    <li>
	                      	<a href="">Logout</a>
	                    </li> 
	                  </ul>
	                </div>
				</li>
            </ul>            
		</div>	
	</div>
</div>
