.modal {
	&.customModal {
		text-align: center;
		padding   : 0!important;
		&:before {
			content       : '';
			display       : inline-block;
			height        : 100%;
			vertical-align: middle;
			margin-right  : -4px;
			@media screen and (max-width:767px) {
				content: none;
			}
		} 

		.modal-dialog {
			display : inline-block;			
			vertical-align: middle;
			text-align    : center;	
			max-width: 420px;		
			.modal-content {
				padding: 30px 15px;
				background-color: $light-Sky;
				@include radius(0);
				@include box-shadow-none();
				border:0 none;		
				@media screen and (max-width:767px) {
					padding: 15px 0;
				}		
				.modal-header{
					padding: 0;
					border:0 none;
					.close {
						filter: alpha(opacity=80);
						opacity    : 0.8;
						margin     : 18px 20px 0 0;
						cursor     : pointer;	
						@media screen and (max-width:767px) {
							margin     : 8px 10px 0 0;
						}
						&:focus{
							outline:0 none;
						}				
					}				
				}
				.modal-body{
					h3{
						@include text-format-weight(18px,$dark-blue,600);
						margin: 0 0 10px 0;
					}
					p{
						@include text-format-weight(14px,$color-6b,400);
						line-height: 24px;
						margin: 0 0 20px 0;
					}
					.z_checked{
						a{
							color: $black;
						}
					}
					.icon{
						margin-bottom: 15px;
						i{
							@include text-format-weight(40px,$dark-blue,600);
						}
					}
					.ratingouter{
						border-top:1px solid $color-cc; 
						padding: 30px 0;
						margin-top: 15px;
						@media screen and (max-width:767px) {
							padding: 15px 0;
						}
						.rattingstar{
						  	li{
						   	 	@include height-width(40px,40px);
						    	line-height: 50px;
						    	cursor: pointer;
						    	@media screen and (max-width:767px) {
									padding: 15px 0;
								}						    	
						    	i{
						      		font-size: 24px;
						    	}
						  	}
						}
					}
					.form-group{
					  	margin-bottom:15px;	
					  	&:last-child{
					  		margin-bottom: 0;
					  	}				 	  	
					  	input,select,textarea{  
						    &.form-control{
						      	background-color: $white;					      
						    }  
						}
						textarea{
							min-height: 100px;
						}
						.fileChoose{
						    button{
						       background-color: $white;
						    }						    
						}	
					}					
				}
			}
		}
	}	
}