.custom-tabs{
	background-color: $blue-color;
	padding: 25px 0 30px 0;
	@media screen and (max-width:992px){
		padding: 15px 0 25px 0;
	}
	@media screen and (max-width:767px){
		padding: 10px 0 10px 0;
	}
	ul{
		li{
			display: inline-block;
			margin-right: 40px;
			@media screen and (max-width:992px){
				margin-right: 20px;
			}
			@media screen and (max-width:479px){
				margin-right: 0;
    			width: 49%;
    			margin-bottom: 5px;
			}
			a{
				@include text-format-weight(16px,$tab-blue,400);	
				@include pos(r,null);		
				@media screen and (max-width:767px){
					font-size: 14px;
				}		
    			&:before{
					@include pos(a,null null -40px 0);
					content:'';
					@include height-width(2px,100%);
					background-color: $white;	
					-webkit-transition: all linear 0.5s;
	    			transition: all linear 0.5s;
	    			-moz-transition: all linear 0.5s;	
	    			opacity: 0;	
	    			@media screen and (max-width:767px){
						bottom: -5px;
					}		
				}
				&:hover, &.active{
					color: $white;
					&:before{
						content: '';
						bottom: -12px;
						opacity: 1;
						@media screen and (max-width:767px){
							bottom: -5px;
						}
					}
				}			
			}
		}
	}
}
  